@using HoteManagement.Service.Model;
@using HoteManagement;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var editinfo = new HoteManagement.Web.Models.Api.ModelEdit { Name = "editfloormanage", Title = "编辑楼层", EditButtonId = "floormanageeditsave" };
    var deleteinfo = new HoteManagement.Web.Models.Api.ModelDelete { Name = "deletefloormanage", Title = "删除楼层", DeleteButtonId = "floormanagedeletesave" };
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">楼层管理</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                @*<span class="input-group-btn">
                        <a class="btn btn-primary" href="/floor/createfloor">创建楼栋</a>
                    </span>*@
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createfloor">
                    创建楼层
                </button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>楼层</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.floorlist as IPagedList<floor_manageDto>)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><a href="/floor/floormanagedetail?id=@item.Id">@item.floor_name</a> </td>
                            <td>

                                <button type="button" class="btn btn-warning edit" data-toggle="modal" data-id="@item.Id">编辑</button>
                                &nbsp;
                                <button type="button" class="btn btn-danger delete" data-toggle="modal" data-id="@item.Id">删除</button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        @Html.Partial("PageList", ViewBag.PageInfo as HoteManagement.Web.Models.Api.PageModel)
    </div>
</div>

@Html.Partial("CreateFloorManage")
@Html.Partial("AdminEdit", editinfo)
@Html.Partial("ConfirmDelete", deleteinfo)

@section scripts{
    <script>
        $(function () {

            $("#createfloor_save").click(function () {
                var data = { "name": $("#createfloorManage_floorname").val(), "floornumber": $("#floornumber").val()};
                $.ajax({
                    url: "/floor/CreateFloorManage",
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success == 1)
                            window.location.reload();
                        else {
                            $("#errormsg").html("");
                            $("#errormsg").html("<div class='alert alert-danger' role='alert'>" + data.message + "</div>");
                        }
                    }
                });

            })

            $(".edit").click(function () {
                var html = "<form><div class='form-group'><label for='recipient-name' class='control-label'>loading....</label></div></form>";
                $("#adminedit div[class='modal-body']").html(html);
                $('#adminedit').modal('toggle');
                var id = $(this).attr("data-id");
                var url = "/floor/GetEditFloorManageView?id=" + id.toString();
                $.ajax({
                    url: url,
                    type: 'get',
                    success: function (data) {
                        $("#adminedit div[class='modal-body']").html(data);
                        SaveFloor();
                    }
                });
            })

            function SaveFloor() {

                $("#@editinfo.EditButtonId").click(function () {
                    var data = { "name": $("#Editfloormanage_floorname").val(), "id": $("#Editfloormanage_id").val()};
                    $.ajax({
                        url: "/floor/EditFloorManage",
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success == 1)
                                window.location.reload();
                            else {
                                $("#adminedit #errormsg").html("");
                                $("#adminedit #errormsg").html("<div class='alert alert-danger' role='alert'>" + data.message + "</div>");
                            }
                        }
                    });
                }
                )
            }

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $('#admindelete').modal('toggle');
                DeleteFloor(id);

            })

              function DeleteFloor(id) {

                $("#@deleteinfo.DeleteButtonId").click(function () {

                    var url = "/floor/DeleteFloorManage?id=" + id;
                    $.ajax({
                        url: url,
                        type: 'get',

                        success: function (data) {
                            if (data.success == 1)
                                window.location.reload();
                            else {
                                $("#admindelete #errormsg").html("");
                                $("#admindelete #errormsg").html("<div class='alert alert-danger' role='alert'>" + data.message + "</div>");
                            }
                        }
                    });
                }
                )
            }
        })

    </script>

}


