@using HoteManagement.Service.Model;
@using HoteManagement;
@using HoteManagement.Web.Core;
@model  List<Org_BusinessDto>
@{
    ViewBag.Title = "GetBusiness";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var userid = ViewBag.UserId == null ? 0 : ViewBag.UserId;
}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">业务报送</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">项目名称</label>
                <div class="col-sm-4">
                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                    <input type="text" id="name" class="form-control" />

                </div>
                <label for="inputEmail3" class="col-sm-1 control-label">状态</label>
                <div class="col-sm-4">
                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                    @*@Html.TextBoxFor(s => s.auditunit, new { @class = "form-control" })*@
                    <select class="form-control col-lg-1" id="approvalstatues">
                        <option value="-2">全部</option>
                        <option value="1">审核通过</option>
                        <option value="-1">审核不通过</option>
                        <option value="0">未审核</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">编制单位</label>
                <div class="col-sm-4">
                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                    <input type="text" id="compileunit" class="form-control" />

                </div>
                <label for="inputEmail3" class="col-sm-1 control-label">审计单位</label>
                <div class="col-sm-4">
                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                    <input type="text" id="auditunit" class="form-control" />

                </div>
            </div>
           

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">建设单位</label>
                <div class="col-sm-4">
                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                    <input type="text" id="seach_unitname" class="form-control" />

                </div>
                <label for="inputEmail3" class="col-sm-1 control-label">报送时间</label>
                <div class="col-sm-4">
                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                    @*@Html.TextBoxFor(s => s.buildunit, new { @class = "form-control" })*@
                    <input type="text" id="seach_starttime" class="datetime form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-1">

                    <input value="搜索" type="button" class="btn btn-default" id="search" />
                    &nbsp;&nbsp;&nbsp;&nbsp;

                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-1">

                </div>
            </div>

        </div>


        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12 table-responsive">
            @if (UserInfo.OrgName != "管理员")
            {
                if (userid == 0)
                {
                    <a class="btn btn-primary" href="/admin/createbusiness">创建业务推送</a>
                }
                else
                {
                    <a class="btn btn-primary" href="/admin/createbusiness?userid=@userid">创建业务推送</a>
                }

            }

            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>建设单位</th>
                        <th>编制单位</th>
                        <th>审计单位</th>
                        <th>项目类型</th>
                        <th>状态</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (UserInfo.OrgName != "管理员")
                            {
                                if (ViewBag.UserId != null)
                                {
                                    <td><a href="/admin/editbusiness?id=@item.id&&userid=@userid">@item.projectname</a> </td>
                                }
                                else
                                {
                                    <td><a href="/admin/editbusiness?id=@item.id">@item.projectname</a> </td>
                                }
                            }
                            else
                            {
                                if (ViewBag.UserId != null)
                                {
                                    <td><a href="/admin/auditbusiness?id=@item.id&&userid=@userid">@item.projectname</a> </td>
                                }
                                else
                                {
                                    <td><a href="/admin/auditbusiness?id=@item.id">@item.projectname</a> </td>
                                }

                            }

                            <td>
                                @item.buildunit
                            </td>

                            <td>@item.compileunit</td>
                            <td>
                                @item.auditunit

                            </td>
                            <td>@item.projecttype</td>
                            <td>@Html.Raw(item.GetDisplayText())</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        @Html.Partial("PageList", ViewBag.PageInfo as HoteManagement.Web.Models.Api.PageModel)
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            var loginid = @userid;

            $("#search").click(function () {
                var unitname = $("#seach_unitname").val();
                var time = $("#seach_starttime").val();
                var compileunit = $("#compileunit").val();
                var auditunit = $("#auditunit").val();
                if (loginid == 0)
                {
                    window.location.href = "/admin/getbusiness?name=" + $("#name").val() + "&approvalstatues=" + $("#approvalstatues").val() + "&unitname=" + unitname + "&compileunit=" + compileunit + "&auditunit=" + auditunit + "&time=" + time;
                }
                else
                {
                    window.location.href = "/admin/getbusiness?loginid=" + loginid + "&name=" + $("#name").val() + "&approvalstatues=" + $("#approvalstatues").val() + "&unitname=" + unitname + "&compileunit=" + compileunit + "&auditunit=" + auditunit + "&time=" + time;
                }

            })
        })

    </script>

}
