@using HoteManagement.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @*<link href="~/Content/css.css" rel="stylesheet" type="text/css" />*@
    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="~/content/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/content/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/content/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/content/bootstrap/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/content/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                        <fieldset>
                            <div class="form-group">
                                @*<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>*@
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "用户名", autofocus = "true" })
                            </div>
                            <div class="form-group">
                                @*<input class="form-control" placeholder="Password" name="password" type="password" value="">*@
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                            </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="登陆" />

                            <font color="red">
                                @Html.ValidationSummary()
                            </font>
                        </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    
  
</body>
</html>
