@using HoteManagement.Service.Model;
@using HoteManagement;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var editinfo = new HoteManagement.Web.Models.Api.ModelEdit { Name = "editshift", Title = "班次班次", EditButtonId = "shifteditsave" };
    var deleteinfo = new HoteManagement.Web.Models.Api.ModelDelete { Name = "deleteshift", Title = "删除班次", DeleteButtonId = "shiftdeletesave" };
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">班次管理</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                @*<span class="input-group-btn">
                        <a class="btn btn-primary" href="/shift/createshift">创建班次</a>
                    </span>*@
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createshift">
                    创建班次
                </button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>

                        <th>班次</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.shiftlist as IPagedList<ShiftDto>)
                    {
                        <tr>

                            <td>@item.shfit_name</td>
                            <td>

                                <button type="button" class="btn btn-warning edit" data-toggle="modal" data-id="@item.Id">编辑</button>
                                &nbsp;
                                <button type="button" class="btn btn-danger delete" data-toggle="modal" data-id="@item.Id">删除</button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        @Html.Partial("PageList", ViewBag.PageInfo as HoteManagement.Web.Models.Api.PageModel)
    </div>
</div>

@Html.Partial("Createshift")
@Html.Partial("AdminEdit", editinfo)
@Html.Partial("ConfirmDelete", deleteinfo)

@section scripts{
    <script>
        $(function () {

            $("#createshift_save").click(function () {

                var data = { "name": $("#createshift_shiftname").val()};
                $.ajax({
                    url: "/shift/Createshift",
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success == 1)
                            window.location.reload();
                        else {
                            $("#errormsg").html("");
                            $("#errormsg").html("<div class='alert alert-danger' shift='alert'>" + data.message + "</div>");
                        }
                    }
                });

            })

            $(".edit").click(function () {
                var html = "<form>< div class='form-group'><label for='recipient-name' class='control-label'>loading....</label> </div ></form >";
                $("#adminedit div[class='modal-body']").html(html);
                $('#adminedit').modal('toggle');
                var id = $(this).attr("data-id");
                var url = "/shift/GetEditshiftView?id=" + id.toString();
                $.ajax({
                    url: url,
                    type: 'get',
                    success: function (data) {
                        $("#adminedit div[class='modal-body']").html(data);
                        Saveshift();
                    }
                });
            })

            function Saveshift() {

                $("#@editinfo.EditButtonId").click(function () {
                    var data = { "name": $("#editshift_shiftname").val(), "id": $("#editshift_id").val()};
                    $.ajax({
                        url: "/shift/Editshift",
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success == 1)
                                window.location.reload();
                            else {
                                $("#adminedit #errormsg").html("");
                                $("#adminedit #errormsg").html("<div class='alert alert-danger' shift='alert'>" + data.message + "</div>");
                            }
                        }
                    });
                }
                )
            }

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $('#admindelete').modal('toggle');
                Deleteshift(id);

            })

              function Deleteshift(id) {

                $("#@deleteinfo.DeleteButtonId").click(function () {

                    var url = "/shift/deleteshift?id=" + id;
                    $.ajax({
                        url: url,
                        type: 'get',

                        success: function (data) {
                            if (data.success == 1)
                                window.location.reload();
                            else {
                                $("#admindelete #errormsg").html("");
                                $("#admindelete #errormsg").html("<div class='alert alert-danger' shift='alert'>" + data.message + "</div>");
                            }
                        }
                    });
                }
                )
            }
        })

    </script>

}


